@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  @apply bg-[#FDFCF7] antialiased;
}

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}